@import "./variables.css";
@import "./root.css";

.wrapper {
    height: 100vh;
    max-width: 1464px;
    width: 100vw;
    padding: var(--padding-sm) var(--padding-base);
}

/*--- HEADER ---*/

.header {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-size-xl);
}

.header__btn__logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__logo {
    height: 5rem;
}

.header__logo__text {
    font-size: var(--font-size-3xl);
    display: flex;
    align-items: center;
}

.header__logo__text--red {
    color: var(--color-02);
    background-color: var(--color-03);
    margin-left: .3rem;
    padding: 0 var(--padding-sm);
    font-size: var(--font-size-2xl)
}

.header__nav__ul {
    display: flex;
}

.header__nav__li:not(:last-child) {
    margin-right: var(--margin-sm);
}

.header__nav__li {
    padding: 0 var(--padding-sm);
}

.header__nav__li:hover {
    color: var(--color-02);
    background-color: var(--color-03);
}

.header__nav__link {
    cursor: pointer;
}

.header__user-nav__li:not(:last-child) {
    margin-right: var(--margin-sm);
}

.header__user-nav__li {
    padding: 0 var(--padding-sm);
}

.active {
    color: var(--color-02);
    background-color: var(--color-03);
    padding: 0 var(--padding-sm);
}

.hamburger-menu {
    display: none;
}

/*--- CENTER ---*/

.container {
    height: calc(100vh - 10rem - 2 * var(--padding-sm));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-xl)
}

.container__wrapper {
    display: flex;
    flex-direction: column;
    padding: var(--padding-base);
    background-color: var(--color-06);
}

.container__title {
    font-size: var(--font-size-2xl);
    margin: var(--margin-base) 0;
}

.label {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--margin-sm);
}

.container__btn {
    display: flex;
    justify-content: center;
}

.btn {
    margin-top: var(--padding-sm);
}

/*--- FOOTER ---*/

.footer {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer__text {
    cursor: pointer;
}

/*--- ALERT ---*/

.alert {
    position: absolute;
    top: 5%;
    display: flex;
    justify-content: center;
}

.alert-text-negative {
    padding: var(--padding-sm);
    background-color: var(--color-03);
    border-radius: .5rem;
    color: var(--color-02)
}

.alert-text-positive {
    padding: var(--padding-sm);
    background-color: var(--color-06);
    border-radius: .5rem;
}

@media screen and (max-width: 800px) {
    .header__nav {
        display: none;
    }
    .header__user-nav {
        display: none;
    }

    .hamburger-menu {
        display: flex;
        z-index: 1;
    }

    /*HAMBURGER*/

    .hamburger-menu-icon {
        cursor: pointer;
    }
    .hamburger-menu-elements {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: var(--color-02);
        top: 0;
        left: 0;
        padding: var(--padding-xl);
        display: none;
        flex-direction: column;
        justify-content: center;
    }
    .header__nav__ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: var(--font-size-4xl);
    }
    .header__nav__li {
        display: flex;
        justify-content: center;
        margin-right: 0 !important;
    }
    .hamburger__user-nav {
        margin-top: var(--margin-base);
        color: var(--color-02);
        background-color: var(--color-03);
    }
    .header__user-nav__li {
        display: flex;
        justify-content: center;
    }
    .hamburger-menu-close {
        position: absolute;
        top: 0;
        left: 2%;
        font-size: var(--font-size-3xl);
        font-weight: bold;
        cursor: pointer;
    }
}
