.label__txt {
    margin-bottom: var(--margin-sm);
    display: flex;
    justify-content: space-between;
}

.label__txt--bold {
    font-weight: bold;
}

.range-box {
    margin-left: var(--margin-sm)
}

.minus__btn {
    cursor: pointer;
    margin-right: var(--margin-sm);
}

.plus__btn {
    cursor: pointer;
    margin-left: var(--margin-sm);
}

.btn {
    margin-top: 0;
}

.container__box {
    display: flex;
    width: 100%;
    justify-content: center;
}
