@import "../main.css";

.arena {
    background-image: url("../../img/arena.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    max-width: 1020px;
    height: 100%;
    max-height: 460px;
    background-position: center center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.arena__center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arena__vs {
    color: var(--color-03);
    background-color: var(--color-02);
    padding: 0 var(--padding-sm);
    margin-bottom: var(--margin-base);
}

.player {
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: center;
    align-items: center;
    margin-top: var(--margin-base);
}

.player__name {
    background-color: var(--color-06);
    padding: 0 var(--padding-sm);
    margin-bottom: var(--margin-base);
}

.player__img {
    max-height: 230px;
}

.arena__opponent {
    display: flex;
    flex-direction: column;
    padding: var(--padding-base);
    background-color: var(--color-06);
}

.opponent__title {
    font-size: var(--font-size-xl);
    margin-bottom: var(--margin-sm);
    text-align: center;
}

.arena__label {
    display: flex;
    flex-direction: column;
    margin-right: var(--margin-sm);
    width: 100%;
}

.arena__label__txt {
    font-size: var(--font-size-base)
}

.opponent__username {
    display: flex;
    align-items: center;
    margin-bottom: var(--margin-sm);
}

.fight-ol {
    list-style-type: decimal;
    padding-left: var(--padding-base);
    height: 100%;
    font-size: var(--font-size-lg);
}

.container__wrapper {
    height: 60vh;
    width: calc(100vw - 2 * var(--padding-sm));
    max-width: 1020px;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    padding: var(--padding-lg) var(--padding-sm);
    padding-left: calc(var(--padding-sm) + var(--padding-base));
}

.fight__stats {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fight__box {
    padding-left: var(--padding-base);
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: var(--color-02);
}

.fight__results {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.btn__close {
    position: absolute;
    top: 0;
    right: 0;
}

.results__box {
    background-color: var(--color-02);
    padding: 0 var(--padding-sm);
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results__username {
    background-color: var(--color-04);
    width: 100%;
    text-align: center;
}

.results__breed {
    background-color: var(--color-05);
    width: 100%;
    text-align: center;
    color: var(--color-02);
}

.results__img {
    width: 100%;
}

.fight__box::-webkit-scrollbar {
    width: 10px;
}

.fight__box::-webkit-scrollbar-track {
    background-color: #e4e4e4;
}

.fight__box::-webkit-scrollbar-thumb {
    background-color: var(--color-05);
}

.start-fight {
    display: none;
}

.player2 {
    display: none;
}

@media screen and (max-height: 850px) {
    .container__wrapper {
        height: 75vh;
    }
}

@media screen and (max-width: 800px) {
    .arena {
        background-size: 140%;
    }
    .container__wrapper {
        flex-direction: column-reverse;
        align-items: center;
        padding-left: var(--padding-sm);
        position: relative;
        justify-content: space-around;
    }
    .fight__stats {
        width: 100%;
        height: 60%;
    }
    .fight__box {
        padding-left: 0;
    }
    .fight__results {
        width: 100%;
        /*height: 45%;*/
    }
    .results__box {
        width: 80%;
    }
    .results__img {
        display: none;
    }
    .results__breed {
        margin-bottom: var(--margin-sm);
    }
}

@media screen and (max-width: 600px) {
    .arena {
        background-size: 170%;
    }
    .container {
        font-size: var(--font-size-sm);
    }
    .opponent__title {
        font-size: var(--font-size-base);
    }
    .arena__opponent {
        width: 35%;
    }
    .player {
        width: 35%;
    }
    .opponent__username{
        flex-direction: column;
    }
    .results__box {
        font-size: var(--font-size-lg);
    }
}


