@import "../main.css";

.wrapper {
    background-image: url("../../img/bg2.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.home-page__box {
    width: 40%;
    margin-bottom: 15%;
    font-size: var(--font-size-2xl);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(255,255,255);
    background: linear-gradient(267deg, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.6) 100%);
    padding: var(--padding-sm);
}

.home-page__btn {
    background-color: var(--color-05);
    color: var(--color-02);
    padding: 0 var(--padding-sm);
    margin-top: var(--margin-sm);
}

.home-page__description {
    text-align: center;
}

@media screen and (max-width: 1274px) {
    .home-page__box {
        width: 50%;
    }
}

@media screen and (max-width: 1020px) {
    .container {
        justify-content: center;
        align-items: flex-start;
    }
    .home-page__box {
        width: 80%;
        margin-bottom: 0;
        margin-top: var(--margin-xl);
    }
}

@media screen and (max-width: 800px) {
    .home-page__box {
        width: 100%;
        margin-top: 20%;
        margin-bottom: 0;
    }
    .wrapper {
        background-image: url("../../img/bg-sm.svg");
        background-size: 90%;
        background-position: 50% 90%;
    }
}

