@import "../main.css";
@import "../points-configurator.css";

.container__right {
    padding: var(--padding-base);
    background-color: var(--color-06);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
}

.container__center {
    margin-left: 3%;
    padding: var(--padding-base);
    background-color: var(--color-06);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
}

.warrior-img {
    height: 30%;
}
