@import "../main.css";
@import "../points-configurator.css";

.container__left {
    padding: var(--padding-base);
    background-color: var(--color-06);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
}

.container__right {
    margin-left: var(--margin-base);
    padding: var(--padding-base);
    background-color: var(--color-06);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 35%;
}

.container__right__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    background-color: var(--color-02);
}

.label-username {
    background-color: var(--color-04);
    padding: 0 var(--padding-sm);
    width: 100%;
    text-align: center;
}

.label-breed {
    background-color: var(--color-05);
    color: var(--color-02);
    padding: 0 var(--padding-sm);
    width: 100%;
    text-align: center;
}

.label-ranking {
    background-color: var(--color-01);
    color: var(--color-02);
    padding: 0 var(--padding-sm);
    width: 100%;
    text-align: center;
}

.ranking {
    background-color: var(--color-02);
    color: var(--color-01);
    padding: 0 var(--padding-sm);
    outline: 4px solid var(--color-01);
    outline-offset: -4px;
}

.warrior-img {
    width:60%;
}

.container__right__center {
    display: flex;
    background-color: var(--color-02);
    padding: var(--padding-sm);
    margin-top: var(--margin-sm);
    width: 70%;
    justify-content: space-evenly;
}

.container__center__left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__center__right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label-results {
    font-weight: bold;
    font-size: var(--font-size-sm);
}

.label-wins {
    color: var(--color-02);
    background-color: var(--color-06);
    padding: 0 var(--padding-sm);
}

.label-loses {
    color: var(--color-02);
    background-color: var(--color-03);
    padding: 0 var(--padding-sm);
}

.container__right__bottom {
    margin-top: var(--margin-sm);
}

.arena-btn {
    background-color: var(--color-05);
    color: var(--color-02);
    padding: 0 var(--padding-sm);
    width: 100%;
    text-align: center;
}

.container__results {
    width: calc(60% + var(--margin-base));
    background-color: var(--color-02);
    margin: var(--margin-base) 0;
    height: 100%;
    padding: var(--padding-base);
    overflow-y: auto;
    display: none;
}

.battle__li {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.battle__li:not(:last-of-type) {
    margin-bottom: 2px;
}

.battle__li-result {
    padding: 0 var(--padding-sm);
}

.victory {
    background-color: var(--color-06);
}

.defeat {
    color: var(--color-02);
    background-color: var(--color-03);
}

.container__results::-webkit-scrollbar {
    width: 10px;
}

.container__results::-webkit-scrollbar-track {
    background-color: #e4e4e4;
}

.container__results::-webkit-scrollbar-thumb {
    background-color: var(--color-05);
}

.battle__li__left {
    width: 55%;
}

.battle__li-date {
    width: 30%;
}

